<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Project</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
</head>
<body>
    <div class="reselect-btns visibility-hide">
        <div class="reselect-btn" onclick="reSelect()">
            <span class="span1">Reselect</span>
        </div>
        <div class="reselect-btn2"></div>
        <div class="clicked visibility-hide">
            <div class="clicked-animate clicked-animate-1"></div>
            <div class="clicked-animate clicked-animate-2"></div>
            <div class="clicked-animate clicked-animate-3"></div>
            <div class="clicked-animate clicked-animate-4"></div>
            <div class="clicked-animate clicked-animate-5"></div>
            <div class="clicked-animate clicked-animate-6"></div>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropdown-btn" aria-haspopup="menu">
            <span>Anime Genres</span>
            <span class="arrow"></span>
        </button>
        <ul class="dropdown-content" role="menu">
            <li style="--delay: 1;" onclick="changeShape()">Romance</li>
            <li style="--delay: 2;">Comedy</li>
            <li style="--delay: 3;">Action</li>
            <li style="--delay: 4;">Adventure</li>
        </ul>
    </div>

    <div class="venus">
        <div class="text">HELLO</div>
    </div>
    <script src="{{url_for('static',filename='index.js')}}"></script>
</body>
</html>